*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0E7D8;
    text-align: center;
}
a{
    color: #352e2b;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}