@media only screen and (max-width: 600px) {
    .buttons {
        flex-flow: column;
        width: 100px;
    }
    button {
        margin-top: 20px;
    }
    header {
        width: 300px;
    }
    .time-session {
        width: 60%;
    }
    .task {
        width: 300px;
    }
    .task-settings {
        width: 90%;
        height: 480px;
    }
    .task-settings > p{
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 450px) {
    .time-session > input {
        width: 95px;
        height: 50px;
    }
}